*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --yelo: rgb(230, 190, 17);
    --orange: orange;
}

i {
    font-style: italic;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 4vh;
}

body {
    background: var(--yelo);
}

.half-screen {
    height: 50vh;
    position: relative;
}

h1 {
    font-size: 1.8rem;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 1rem;

}

h3 {
    font-size: 3vh;
    position: absolute;
    top: 30%;
    left: 0;
    margin-left: 1rem;
}

.scroll-container {
    max-width: 700px;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50vh;

}

.item {
    min-height: 100vh;
    background: rgb(118, 212, 196);
}

h2 {
    font-size: 1.3rem;
    margin-top: 30vh;
    text-align: center;
    background: var(--orange);
}

.more-info {
    margin: 15vh 1rem;
    letter-spacing: 0.03rem;
    line-height: 1.5rem;
}

#top {
    background: none;
}

.action-card {
    padding: 10vh 1rem;
}

a {
    text-decoration: none;
}

.action-p {
    margin-top: 2rem;
    line-height: 1.5rem;
}

.apply-now-btn {
    display: block;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    width: 8rem;
    margin: auto;
    color: white;
    background: green;
}