*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --mustard: rgb(230, 190, 17);
}

html {
    font-family: serif;
    font-size: 4vh;
}

body {
    background: var(--mustard);
}

.half-screen {
    height: 50vh;
    position: relative;

    background: rgb(128, 99, 99);
}

h1 {
    font-size: 1.8rem;
    position: absolute;
    left: 1rem;
    bottom: 0;

    background: white;
}

h3 {
    font-size: 3vh;
    position: absolute;
    top: 0;
    left: 1rem;

    background: blue;
}

.scroll-container {
    max-width: 700px;
    width: 100vw;
    margin: auto;
}

.item {
    position: relative;
    height: 100vh;
    margin-bottom: 50vh;
    background: rgb(197, 97, 197);
}

h2 {
    font-size: 1.3rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    background: orange;
}

.more-info {
    position: absolute;
    top: 55%;
    margin: 0 1rem;
}